.intro {
  .carousel-item {
    height: 88vh;
    img {
      height: 100%;
    }
    .carousel-caption {
      top: 38%;
      transform: translateY(-50%);
      text-align: left;
      h3 {
        @include text(85px, 700, $secondary-color);
        text-transform: uppercase;
        line-height: 0.99em;
        letter-spacing: -0.8px;
      }
    }
  }
}
.last-games {
  margin-top: 65px;
  .games-content {
    margin-top: 50px;
  }
}
.game-detail {
  .game-detail-header {
    position: relative;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03090d 100%);
    }
    .header-title {
      position: absolute;
      width: 100%;
      top: 65%;
      z-index: 5;
      .title {
        margin-top: 25px;
        h1 {
          @include text(78px, 700, $secondary-color);
          text-transform: uppercase;
        }
      }
    }
  }
  .game-detail-content {
    margin-top: 50px;
    .description {
      font-family: $secondary-font;
      p {
        color: $paragraph-color;
        &:first-child {
          @include text(19px, 400, $secondary-color);
          &::first-letter {
            font-size: 74px;
            margin-right: 22px;
            float: left;
            text-align: center;
            line-height: 1;
          }
        }
        strong {
          color: $secondary-color;
        }
      }
    }
    .video-player {
      margin-top: 35px;
    }
    .details {
      font-family: $secondary-font;
      padding-left: 35px;
      h2 {
        @include text(13px, 700, $heading-color);
      }
      p {
        color: $paragraph-color;
      }
      .details-item {
        &:not(:first-child) {
          margin-top: 35px;
        }
      }
      .platforms-box {
        .platform-items {
          display: flex;
          .platform-item {
            margin-top: 10px;
            &:not(:first-child) {
              padding-left: 20px;
            }
            i {
              font-size: 20px;
            }
          }
        }
      }
    }
    .more-games {
      margin-top: 65px;
      .more-games-content {
        margin-top: 50px;
      }
    }
  }
}
.newsletter {
  margin-top: 80px;
  .newsletter-content {
    .newsletter-content-description {
      margin-top: 30px;
      .description {
        font-family: $secondary-font;
        @include text(15px, 400, $paragraph-color);
      }
    }
  }
  .newsletter-form {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    .form-box {
      width: 100%;
      .email-input {
        background: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid $secondary-color;
        padding-left: 0;
        height: 100%;
      }
      .btnBox {
        .btn {
          font-family: $btn-font;
          @include btn(13px 14px, $secondary-color, 12px, 700, none);
          color: $primary-color;
          border-radius: 0;
          &:hover {
            @include btnHover($secondary-color);
          }
        }
      }
    }
  }
}
.our-company {
  height: 730px;
  padding-top: 65px;
  margin-top: 75px;
  .content-title {
    margin-top: 35px;
    h1 {
      @include text(82px, 700, $secondary-color);
    }
  }
  .content-description {
    font-family: $secondary-font;
    p {
      @include text(18px, 400, $paragraph-color);
    }
  }
  .linkBox {
    margin-top: 15px;
    a {
      @include text(15px, 700, $third-color);
      font-family: $btn-font;
      transition: all 0.3s;
      &:hover {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}
.banner-wrapper {
  position: relative;
  top: -145px;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #03090d 100%);
  }
  .text-container {
    position: absolute;
    width: 100%;
    top: 45%;
    z-index: 5;
    .title {
      margin-top: 25px;
      h1 {
        @include text(78px, 700, $secondary-color);
        text-transform: uppercase;
      }
    }
    .description {
      font-family: $secondary-font;
      p {
        @include text(18px, 400, $secondary-color);
      }
    }
  }
}

.studio-wrapper {
  .studio-content {
    height: 770px;
    margin-bottom: 30px;
    .content-title {
      margin-top: 35px;
      h1 {
        @include text(82px, 700, $secondary-color);
      }
    }
    .content-description {
      font-family: $secondary-font;
      p {
        @include text(18px, 400, $paragraph-color);
      }
    }
  }
  .team-members-content {
    .team-members-content-header {
      margin-bottom: 60px;
    }
    .team-member-card {
      .card {
        border: none;
        border-radius: 0;
        img {
          border-radius: 0;
        }
        .overlay-text {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          border-radius: 0;
          padding-bottom: 35px;
          .card-heading {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              height: 3px;
              width: 20%;
              background-color: $third-color;
              bottom: -10px;
              left: 0;
            }
            .card-title {
              font-family: $secondary-font;
              margin-bottom: 5px;
            }
            .strong-title {
              @include text(40px, 600, $secondary-color);
            }
            .small-title {
              @include text(25px, 600, $secondary-color);
            }
          }
          .card-text {
            font-family: $btn-font;
            @include text(15px, 700, $third-color);
            text-transform: uppercase;
            letter-spacing: 2px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}
.team-member-detail-wrapper {
  .team-member-detail-content-wrapper {
    .team-member-detail-content {
      font-family: $secondary-font;
      padding-top: 60px;
      .fullname {
        border-bottom: 1px solid $border-color;
        h1 {
          @include text(40px, 700, $secondary-color);
          padding-bottom: 15px;
          margin-bottom: 0;
        }
      }
      .position {
        font-family: $btn-font;
        border-bottom: 1px solid $border-color;
        h4 {
          @include text(24px, 700, $third-color);
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
      .description {
        border-bottom: 1px solid $border-color;
        p {
          color: $paragraph-color;
          font-weight: 600;
          padding: 15px 0;
          margin-bottom: 0;
        }
      }
      .social-medias {
        padding-top: 15px;
        a {
          @include text(23px, 400, $link-color);
          transition: all 0.3s;
          &:hover {
            text-decoration: none;
            color: $secondary-color;
          }
          i {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
