@media screen and(max-width: 1024px) {
  body {
    .sticky {
      padding: inherit;
      background-color: $bg-color;
    }
    .intro {
      .carousel-item {
        .carousel-caption {
          h3 {
            font-size: 120px;
          }
        }
      }
    }
    .studio-wrapper {
      .studio-content {
        height: inherit;
        margin-bottom: 40px;
        .content-title {
          h1 {
            font-size: 70px;
          }
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  body {
    header {
      .navbar-toggler {
        .hamburger-menu-icon {
          width: 5%;
        }
      }
      .navbar {
        .navbar-nav {
          .dropdown-menu {
            text-align: center;
          }
        }
        .nav-item {
          padding-left: 0;
          .nav-link {
            padding-left: 0;
            text-align: center;
          }
        }
      }
    }
    .sticky {
      padding: inherit;
      background-color: $bg-color;
    }
    .intro {
      .carousel-item {
        height: 80vh;
        .carousel-caption {
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          h3 {
            @include text(70px, 700, $secondary-color);
            text-transform: uppercase;
            line-height: 0.99em;
            letter-spacing: -0.8px;
          }
        }
      }
    }
    .our-company {
      height: 610px;
      margin-bottom: 100px;
      .content-title {
        h1 {
          font-size: 55px;
        }
      }
    }
    .studio-wrapper {
      .studio-content {
        height: inherit;
        background-position: center center;
        margin-bottom: 35px;
        .content-title {
          h1 {
            font-size: 55px;
          }
        }
      }
      .team-members-content {
        .team-member-card {
          .card {
            .overlay-text {
              .card-heading {
                .strong-title {
                  font-size: 30px;
                }
                .small-title {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and(max-width: 576px) {
  body {
    header {
      .navbar-brand {
        width: 10%;
      }
      .navbar-toggler {
        .hamburger-menu-icon {
          width: 10%;
        }
      }
    }
    .sticky {
      padding: inherit;
      background-color: $bg-color;
    }
    .intro {
      .carousel-item {
        height: 80vh;
        .carousel-caption {
          top: 40%;
          transform: translateY(-50%);
          text-align: center;
          h3 {
            @include text(50px, 700, $secondary-color);
            text-transform: uppercase;
            line-height: 0.99em;
            letter-spacing: -0.8px;
          }
        }
      }
    }
    .last-games {
      .games-content {
        .card {
          margin-bottom: 15px;
        }
      }
    }
    .game-detail {
      .game-detail-header {
        img {
          height: 30vh;
        }
        .header-title {
          top: 55%;
          .title {
            margin-top: 15px;
            h1 {
              font-size: 45px;
            }
          }
        }
      }
      .game-detail-content {
        .description {
          p {
            font-size: 12px;
            &:first-child {
              font-size: 12px;
            }
          }
        }
        .details {
          padding-left: 0;
          margin-top: 20px;
        }
      }
    }
    .newsletter {
      .newsletter-form {
        padding-left: 0;
        .form-box {
          .btnBox {
            margin-top: 15px;
            .btn {
              width: 100%;
            }
          }
        }
      }
    }
    .our-company {
      height: inherit;
      .content-title {
        h1 {
          font-size: 40px;
        }
      }
    }
    footer {
      .footer-pages {
        margin-top: 30px;
      }
    }
    .studio-wrapper {
      .banner-wrapper {
        top: -35px;
        .text-container {
          .title {
            h1 {
              font-size: 40px;
            }
          }
          .description {
            p {
              font-size: 15px;
            }
          }
        }
      }
      .studio-content {
        .content-title {
          h1 {
            font-size: 60px;
          }
        }
      }
      .team-members-content {
        .team-member-card {
          padding-bottom: 30px;
        }
      }
    }
  }
}
