$primary-color: #03090d;
$secondary-color: #fff;
$third-color: #5be492;
$text-color: #2b734a;
$bg-color: #1d1f22;
$link-color: #7f8591;
$border-color: #4c4d54;
$second-border-color: #232930;
$button-color: #1d1f22;
$selection-color: #6b0cc9;
